###########
#For core
###########
numpy #for math and numerical stuff
geopy #for geodesic distances
pyproj #for geodesic lines
scipy #for more math tools
pyyaml #for yaml configs

######################
#For visualization / python notebook
######################
jupyter #for jupyter notbeek
plotly #for visualization
pandas #for dataframes
colorlover #for colors!



######################
#Dash server components
######################

#Being pedantic about dash versions as it's still unstable
dash==0.31.1
dash-core-components==0.40.2
dash-html-components==0.13.2
dash-renderer==0.15.1

###########
#For hacks
###########
grasia-dash-components
dash-dangerously-set-inner-html

######################
#Generic server stuff
######################
gunicorn #for multiple processes on gcloud

#####
# For pulling data from google sheets
#####
oauth2client
google-api-python-client
gspread